#statusArea
{
    width: 100px;
    padding: 4px;
    text-align: center;
    color: white;
    background-color: green;
    border: 1px;
    border-radius: 5px;
}

#formContainer
{
    width: 350px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}

.hidden
{
    visibility: hidden;
}